<div class="detail-intro">
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2">
            <img ng-src="{{picPath}}cooker/cooker_{{cooker.id}}.jpg">
        </div>
        <div class="col-xs-8 col-sm-9 col-md-10">
            <h5>{{cooker.name}}</h5>
            <p>{{cooker.description}}</p>
        </div>
    </div>
</div>
<div class="line-dot-1"></div>
<div class="column-box-1">
    <div class="column-box-tt-1"><h5>相关菜谱</h5></div>
    <div class="column-box-cc-1 rel-menu-list">
        <ul class="menu-list">
            <li class="menu-list-item clearfix" ng-repeat="item in cooker.relMenus">
                <a ng-href="#/detail/menu/{{item.id}}">
                    <div class="menu-pic">
                        <img ng-src="{{picPath}}menu/menu_{{item.id}}.jpg" width="120" height="80" />
                    </div>
                    <div class="menu-body">
                        <h3 class="menu-title">{{item.name | limitTo:10}}</h3>
                        <p class="menu-material">主料：{{item.main}}</p>
                        <p class="menu-material">辅料：{{item.accessory}}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- topnavs -->
<div class="navbar navbar-app navbar-absolute-top dufood-header" content-for="header">
    <div class="pull-left">
        <strong><a class="btn" ng-click="goBack()">
            <i class="fa fa-angle-left"></i>
        </a>{{cooker.name}}</strong>
    </div>
</div>
<!-- /topnavs -->