/**
 * 我的厨房
 */




/*食材*/
.material-all-list {
    margin: 50px 10px 0;
}
.material-search{
    z-index: 1000;
}
.material-classes{

}
.material-view .material-list{
    padding: 10px;
    margin:0;
}
.material-classes-item{
    padding: 10px 0;
    text-align: center;
    background: #fff;
    margin-bottom: 5px;
}
.material-classes-item.active{
    background: #e85f67;
    color: #fff;
}
.material-list{
    padding: 0;
    list-style: none;
}
.material-item{
    float: left;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
}
.material-item-content{
    background: #fff;
    border:1px solid #ffc0c3;
    position: relative;
}
.material-item .material-item-name{
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    line-height: 20px;
    overflow: hidden;
}

.material-item .material-item-pic{
    height: 85px;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.select-icon{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    font-size: 20px;
    font-size: 20px;
    font-weight: 400;
}
.material-item-content.active .select-icon{
    color: #03e832;
}

.material-edit{
    padding:0 10px;
}
.material-edit .btn{
   border: 1px solid transparent;
   line-height: 1.8;
   margin-top: 5px;
}
.material-edit .btn-default{
    background-color: #fff;
    border-color: #e85f67;
}
.material-edit label{
    margin-right: 10px;
}

.fixed-bottom{
    position: fixed;
    left: 50%;
    bottom: 80px;
    margin-left:-65px;
    z-index: 500;
}
.kitchen-body{
    overflow: hidden;
    margin: 0 5px;
}
.add-btn,
.add-btn a{
    color: #e85f67;
}
.add-btn .fa{
    font-size: 60px;
    line-height: 103px;
}